.gravity-stars-background-root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gravity-stars-background-canvas {
    display: block;
    width: 100%;
    height: 100%;
}
